{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">

        {% include 'nav.html.twig' %}
        {% include 'header.html.twig' %}
        
    </div>  <!-- end div id: wrapper -->

{% endblock %}

{% block stylesheets %}
<style>

body { 
    background-color: #222;
    color:#eee;
    font-family:Helvetica;
    letter-spacing:0.1em;
}

</style>
{% endblock %}
